.kiviatDiv
{
    box-sizing: border-box;
    height: 100%;
}

.patient-dropdown-wrapper
{
    padding: 5px;

    text-align: center;
}

#kiviatHeader
{
    height: 10%;

    background-color: white;
}

#kiviatDiagram
{
    height: 90%;
}

.kiviatLeft
{
    height: 100%;
}

#kiviatDiagram-subject
{
    height: 30%;

    background-color: white;
}

#kiviatDiagram-legend
{
    height: 70%;

    background-color: white;
}

.kiviatRight
{
    height: 100%;
}

#kiviatDiagram-neighbors
{
    height: 100%;
    padding: 0;

    background-color: white;
}

.patientNeighborSVG
{
    margin-top: -3px;
    margin-bottom: -3px;
}

svg > text
{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 10;
}

.similarityScore {
  fill: #838383;
  font-weight: bold;
}

.stop-bottom
{
    stop-color: #d18161;
}

.stop-middle
{
  stop-color: #ba89b9;
}

.stop-top
{
    stop-color: #70a4c2;
}

.filled
{
    fill: url(#legendGradient);
}

.axisTooltipCircle,
.centerTooltipCircle
{
    fill: lightgray;
    stroke: lightgray;
}

.kiviatPath
{
    pointer-events: none;
}

.axisLine
{
    pointer-events: none;
}
